.header{
    display: flex;
    // flex-direction: ;
    // display: flex;
    // flex: grow;
    // background-color: orange;
    // padding: 1rem;
    // text-align: center;
}

.hContent{
    font-size: 2rem;
    font-weight: bold;
}